body {
    text-align: center;
}
h1 {
    font-family: 'Fira Code';
    font-size: 4em;
    font-weight: 700;
    margin: 20px auto;
}

h2 {
    font-family: 'Fira Code';
    font-size: 3em;
    font-weight: 550;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

h3 {
    font-family: 'Fira Code';
    font-size: 2em;
    font-weight: 500;
}

p {
    font-family: 'Robot Mono';
    font-size: 1.5em;
    font-weight: 500;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

#main-heading {
    text-decoration: underline;
    margin-block-start: 0.1em;
    margin-block-end: 0.8em;
}

#navi {
    font-family: 'Robot Mono';
    font-size: 1.5em;
    padding: 0.5rem;
}

#navi ul {
    margin-block-start: 0.25em;
}
#navi li {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin-left: 20px;
    background-color: hsla(360, 100%, 32%, 1);
    border-radius: 0.5em;
}

#navi a {
    color: white;
}

#background {
    background-image: url(../images/backgrounds-mountains.jpg);
    background-size: 100% auto; 
}

.container {
    position: relative;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border-radius: 0.7em;
    width: 28%;
    height: 260px;
}

#color-one {
    background-color: hsla(124, 89%, 28%, 1);
}

#color-two {
    background-color: hsla(272, 89%, 28%, 1);
}

#color-three {
    background-color: hsla(356, 89%, 28%, 1);
}

.color-fonts {
    color: white;
}

